<div class="my-2 w-25 box ">
    <label class="my-1">Categories : </label>
    <select class="form-control">
        <option value="1">option 1</option>
        <option value="2">option 2</option>
        <option value="3">option 3</option>
        <option value="4">option 4</option>
    </select>
</div>

<!-- <div class="container d-flex justify-content-center mt-100">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
            <div class="product-wrapper mb-45 text-center">
                <div class="product-img">
                    <a href="#" data-abc="true">
                        <img src="{{product.images}}" alt="">
                    </a>
                    <span class="text-center"><i class="fas fa-rupee-sign"></i> {{product.price}}</span>
                    <div class="product-action">
                        <div class="product-action-style">
                            <a href="#"><i class="fas fa-plus"></i></a>
                            <a href="#"><i class="fas fa-heart"></i></a>
                            <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container d-flex justify-content-center mt-100">
    <div class="row">
        <div class="col-md-3">
            <div class="product-wrapper mb-45 text-center">
                <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/tL7ZE46.jpg"
                            alt=""> </a> <span class="text-center"><i class="fa fa-rupee"></i> 43,000</span>
                    <div class="product-action">
                        <div class="product-action-style"> <a href="#"> <i class="fa fa-plus"></i> </a> <a href="#"> <i
                                    class="fa fa-heart"></i> </a> <a href="#"> <i class="fa fa-shopping-cart"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-wrapper mb-45 text-center">
                <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/lAQxXCK.jpg"
                            alt=""> </a> <span><i class="fa fa-rupee"></i> 41,000</span>
                    <div class="product-action">
                        <div class="product-action-style"> <a class="action-plus" title="Quick View" data-toggle="modal"
                                data-target="#exampleModal" href="#" data-abc="true"> <i class="fa fa-plus"></i> </a> <a
                                class="action-heart" title="Wishlist" href="#" data-abc="true"> <i
                                    class="fa fa-heart"></i> </a> <a class="action-cart" title="Add To Cart" href="#"
                                data-abc="true"> <i class="fa fa-shopping-cart"></i> </a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-wrapper mb-45 text-center">
                <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/HxEEu5g.jpg"
                            alt=""> </a> <span><i class="fa fa-rupee"></i> 33,000</span>
                    <div class="product-action">
                        <div class="product-action-style"> <a class="action-plus" title="Quick View" data-toggle="modal"
                                data-target="#exampleModal" href="#" data-abc="true"> <i class="fa fa-plus"></i> </a> <a
                                class="action-heart" title="Wishlist" href="#" data-abc="true"> <i
                                    class="fa fa-heart"></i> </a> <a class="action-cart" title="Add To Cart" href="#"
                                data-abc="true"> <i class="fa fa-shopping-cart"></i> </a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-wrapper mb-45 text-center">
                <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/lAQxXCK.jpg"
                            alt=""> </a> <span><i class="fa fa-rupee"></i> 23,000</span>
                    <div class="product-action">
                        <div class="product-action-style"> <a class="action-plus" title="Quick View" data-toggle="modal"
                                data-target="#exampleModal" href="#" data-abc="true"> <i class="fa fa-plus"></i> </a> <a
                                class="action-heart" title="Wishlist" href="#" data-abc="true"> <i
                                    class="fa fa-heart"></i> </a> <a class="action-cart" title="Add To Cart" href="#"
                                data-abc="true"> <i class="fa fa-shopping-cart"></i> </a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let product of products">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img
                        src="{{product?.images[0]}}">
                </a>
                <span class="product-discount-label">-23%</span>
                <ul class="product-links">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul>
                <a href="" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">{{product?.title}}</a></h3>
                <div class="price">{{product?.price}} <span>$68.88</span></div>
            </div>
        </div>
    </div>
</div>